In [2]:
from spacebase import *
import sqlite3

conn = sqlite3.connect('./spacetraders.db')
cursor = conn.cursor()

def sql_command(command):
    return cursor.execute(command)

In [70]:
ship = get_ships()[0]
keys = ship.keys()
keystrings = []
types_conversion_dict = {"str":'STRING', "int": 'INT', "bool": 'BOOL'}
for key in keys:
    datatype = type(ship[key]).__name__
    if datatype != "list":
        keystrings.append(f"""{key} {types_conversion_dict[datatype]}""")

    
command = f"CREATE TABLE ships ({', '.join(keystrings)});"
sql_command(command)

In [65]:
del type

In [ ]:
# sql_command("""CREATE TABLE ships (id STRING PRIMARY KEY, 
#     last_location STRING, 
#     last_flightplan STRING, 
#     X INT, 
#     Y INT, 
#     space_available INT, 
#     type STRING, 
#     class STRING,
#     max_cargo INT, 
#     loading_speed INT,
#     speed INT,
#     manufacturer STRING,
#     plating INT,
# weapons INT);
# """)

In [41]:
"hello" + "world"

'helloworld'

NameError: name 'STRING' is not defined

In [39]:
type(bool())

bool

In [11]:
sql_command('drop table cargo')

In [12]:
sql_command("""CREATE TABLE cargo (ship_id STRING,
    good STRING,
    quantity INT);
""")

In [14]:
sql_command("drop table flightplans")
sql_command("""CREATE TABLE flightplans (id STRING PRIMARY KEY, 
    ship_id STRING, 
    created_at DATE, 
    arrives_at DATE, 
    destination STRING, 
    departure STRING, 
    distance INT, 
    fuel_consumed INT,
    fuel_remaining INT, 
    terminated_at DATE,
    seconds_remaining INT);
""")

In [8]:
sql_command("""CREATE TABLE locations (id STRING PRIMARY KEY, 
    type STRING, 
    name STRING, 
    X INT, 
    Y INT, 
    allows_construction BOOL, 
    traits STRING);
""")

[]

In [3]:
sql_command("""CREATE TABLE goods (symbol STRING, 
    name STRING, 
    volume_per_unit INT);
""")

[]

In [4]:
sql_command("drop table markets")

[]

In [5]:
sql_command("""CREATE TABLE markets (date DATE, 
    location_id STRING, 
    good STRING, 
    price_per_unit INT, 
    purchace_price STRING, 
    sell_price INT, 
    spread INT,
    quantity_available INT);
""")

[]

In [17]:
for good in get_available_goods()['goods']:
    

    string = f"""INSERT INTO goods (symbol, name, volume_per_unit) VALUES ("{good['symbol']}", "{good['name']}", {good['volumePerUnit']});"""
    sql_command(string)

In [3]:
get_ships()

[{'id': 'cl55thau617774315s68iz3fpjj',
  'location': 'OE-KO',
  'x': -49,
  'y': 1,
  'cargo': [{'good': 'FUEL', 'quantity': 31, 'totalVolume': 31}],
  'spaceAvailable': 19,
  'type': 'JW-MK-I',
  'class': 'MK-I',
  'maxCargo': 50,
  'loadingSpeed': 25,
  'speed': 1,
  'manufacturer': 'Jackshaw',
  'plating': 5,
  'weapons': 5},
 {'id': 'cl58tw4u525771615s6bnh9pips',
  'location': 'OE-PM-TR',
  'x': -20,
  'y': 5,
  'cargo': [{'good': 'METALS', 'quantity': 55, 'totalVolume': 55},
   {'good': 'FUEL', 'quantity': 20, 'totalVolume': 20}],
  'spaceAvailable': 25,
  'type': 'GR-MK-I',
  'class': 'MK-I',
  'maxCargo': 100,
  'loadingSpeed': 100,
  'speed': 1,
  'manufacturer': 'Gravager',
  'plating': 10,
  'weapons': 5}]

In [23]:
for location in get_system_locations('OE'):
    id = location['symbol']
    type = location['type']
    name = location['name']
    x = location['x']
    y = location['y']
    allows_construction = location['allowsConstruction']
    traits = " ".join(location['traits'])
    string = f"""INSERT INTO locations (id, type, name, X, Y, allows_construction, traits) VALUES ("{id}", "{type}", "{name}", {x}, {y}, {allows_construction}, "{traits}");"""
    sql_command(string)
conn.commit()

In [13]:
import datetime

TypeError: 'datetime.datetime' object is not iterable

In [22]:
ts = datetime.datetime.now()
f"{ts.year}-{ts.month}-{ts.day}-{ts.hour}:{ts.minute}:{ts.second}"

'2022-7-14-12:40:22'

In [ ]:
system = 'OE-KO'
ts = datetime.datetime.now()
date = f"{ts.year}-{ts.month}-{ts.day}-{ts.hour}:{ts.minute}:{ts.second}"
for good in get_market_data(system)['marketplace']:
    location_id = system
    good = good['symbol']
    ppu = good['pricePerUnit']
    pppu = good['purchacePricePerUnit']
    sppu = good['sellPricePerUnit']
    quant = good['quantityAvailable']
    spread = good['spread']
    string = f"""INSERT INTO markets (date, location_id, good, price_per_unit, purchace_price, sell_price, spread, quantity_available) VALUES ("{id}", "{type}", "{name}", {x}, {y}, {allows_construction}, "{traits}");"""

In [24]:
get_market_data('OE-KO')

{'marketplace': [{'symbol': 'CONSTRUCTION_MATERIALS',
   'volumePerUnit': 1,
   'pricePerUnit': 30,
   'spread': 3,
   'purchasePricePerUnit': 33,
   'sellPricePerUnit': 27,
   'quantityAvailable': 70610},
  {'symbol': 'FUEL',
   'volumePerUnit': 1,
   'pricePerUnit': 2,
   'spread': 1,
   'purchasePricePerUnit': 3,
   'sellPricePerUnit': 1,
   'quantityAvailable': 92873},
  {'symbol': 'CHEMICALS',
   'volumePerUnit': 1,
   'pricePerUnit': 44,
   'spread': 1,
   'purchasePricePerUnit': 45,
   'sellPricePerUnit': 43,
   'quantityAvailable': 8},
  {'symbol': 'CONSUMER_GOODS',
   'volumePerUnit': 1,
   'pricePerUnit': 15,
   'spread': 4,
   'purchasePricePerUnit': 19,
   'sellPricePerUnit': 11,
   'quantityAvailable': 43307},
  {'symbol': 'METALS',
   'volumePerUnit': 1,
   'pricePerUnit': 42,
   'spread': 1,
   'purchasePricePerUnit': 43,
   'sellPricePerUnit': 41,
   'quantityAvailable': 0},
  {'symbol': 'EXPLOSIVES',
   'volumePerUnit': 1,
   'pricePerUnit': 12,
   'spread': 2,
   'purchasePricePerUnit': 14,
   'sellPricePerUnit': 10,
   'quantityAvailable': 77150},
  {'symbol': 'FOOD',
   'volumePerUnit': 1,
   'pricePerUnit': 35,
   'spread': 1,
   'purchasePricePerUnit': 36,
   'sellPricePerUnit': 34,
   'quantityAvailable': 10}]}