In [9]:
from spacebase import *
import sqlite3

conn = sqlite3.connect('./spacetraders.db')
cursor = conn.cursor()

def sql_command(command):
    return cursor.execute(command)

In [10]:
sql_command('drop table ships')
sql_command("""CREATE TABLE ships (id STRING PRIMARY KEY, 
    last_location STRING, 
    last_flightplan STRING, 
    X INT, 
    Y INT, 
    space_available INT, 
    type STRING, 
    class STRING,
    max_cargo INT, 
    loading_speed INT,
    speed INT,
    manufacturer STRING,
    plating INT,
weapons INT);
""")

In [11]:
sql_command('drop table cargo')

In [12]:
sql_command("""CREATE TABLE cargo (ship_id STRING,
    good STRING,
    quantity INT);
""")

In [14]:
sql_command("drop table flightplans")
sql_command("""CREATE TABLE flightplans (id STRING PRIMARY KEY, 
    ship_id STRING, 
    created_at DATE, 
    arrives_at DATE, 
    destination STRING, 
    departure STRING, 
    distance INT, 
    fuel_consumed INT,
    fuel_remaining INT, 
    terminated_at DATE,
    seconds_remaining INT);
""")

In [8]:
sql_command("""CREATE TABLE locations (id STRING PRIMARY KEY, 
    type STRING, 
    name STRING, 
    X INT, 
    Y INT, 
    allows_construction BOOL, 
    traits STRING);
""")

[]

In [3]:
sql_command("""CREATE TABLE goods (symbol STRING, 
    name STRING, 
    volume_per_unit INT);
""")

[]

In [4]:
sql_command("drop table markets")

[]

In [5]:
sql_command("""CREATE TABLE markets (date DATE, 
    location_id STRING, 
    good STRING, 
    price_per_unit INT, 
    purchace_price STRING, 
    sell_price INT, 
    spread INT,
    quantity_available INT);
""")

[]

In [17]:
for good in get_available_goods()['goods']:
    

    string = f"""INSERT INTO goods (symbol, name, volume_per_unit) VALUES ("{good['symbol']}", "{good['name']}", {good['volumePerUnit']});"""
    sql_command(string)

In [23]:
for location in get_system_locations('OE'):
    id = location['symbol']
    type = location['type']
    name = location['name']
    x = location['x']
    y = location['y']
    allows_construction = location['allowsConstruction']
    traits = " ".join(location['traits'])
    string = f"""INSERT INTO locations (id, type, name, X, Y, allows_construction, traits) VALUES ("{id}", "{type}", "{name}", {x}, {y}, {allows_construction}, "{traits}");"""
    sql_command(string)
conn.commit()

In [21]:
conn.commit()

In [19]:
sql_command('SELECT * FROM goods').fetchall()

[('FUEL', 'Fuel', 1),
 ('CHEMICALS', 'Chemicals', 1),
 ('METALS', 'Metals', 1),
 ('DRONES', 'Drones', 1),
 ('TEXTILES', 'Textiles', 1),
 ('FOOD', 'Food', 1),
 ('CONSUMER_GOODS', 'Consumer Goods', 1),
 ('NARCOTICS', 'Narcotics', 1),
 ('RARE_METALS', 'Rare Metals', 1),
 ('EXPLOSIVES', 'Explosives', 1),
 ('SHIP_PARTS', 'Ship Parts', 4),
 ('ELECTRONICS', 'Electronics', 1),
 ('MACHINERY', 'Machinery', 2),
 ('CONSTRUCTION_MATERIALS', 'Construction Materials', 1),
 ('SHIP_PLATING', 'Ship Plating', 2),
 ('NANOBOTS', 'Nanobots', 1),
 ('RESEARCH', 'Research', 1),
 ('PRECISION_INSTRUMENTS', 'Precision Instruments', 1),
 ('BIOMETRIC_FIREARMS', 'Biometric Firearms', 1),
 ('UNSTABLE_COMPOUNDS', 'Unstable Compounds', 3),
 ('PROTEIN_SYNTHESIZERS', 'Protein Synthesizers', 1),
 ('FUSION_REACTORS', 'Fusion Reactors', 6),
 ('ZUCO_CRYSTALS', 'Zuco Crystals', 1),
 ('EXOTIC_PLASMA', 'Exotic Plasma', 4)]