In [2]:
from spacebase import *
import pandas as pd
import datetime
import pickle

In [81]:
(database['markets'].groupby(['location', 'symbol', 'purchasePricePerUnit', 'sellPricePerUnit'])['date'].max())[3]

Timestamp('2022-07-17 00:00:00')

In [70]:
database['markets']

,symbol,volumePerUnit,pricePerUnit,spread,purchasePricePerUnit,sellPricePerUnit,quantityAvailable,location,date
0,METALS,1,2,1,3,1,93751,OE-PM-TR,2022-07-17 00:00:00.000000
1,CONSTRUCTION_MATERIALS,1,140,4,144,136,0,OE-PM-TR,2022-07-17 00:00:00.000000
2,FUEL,1,2,1,3,1,87271,OE-PM-TR,2022-07-17 00:00:00.000000
3,FUSION_REACTORS,6,20400,196,20596,20204,0,OE-PM-TR,2022-07-17 00:00:00.000000
0,METALS,1,2,1,3,1,93591,OE-NY,2022-07-17 00:00:00.000000
1,NARCOTICS,1,115,5,120,110,14,OE-NY,2022-07-17 00:00:00.000000
2,FUEL,1,32,1,33,31,22625,OE-NY,2022-07-17 00:00:00.000000
3,EXPLOSIVES,1,92,2,94,90,10,OE-NY,2022-07-17 00:00:00.000000
4,FOOD,1,35,1,36,34,11,OE-NY,2022-07-17 00:00:00.000000
5,RARE_METALS,1,48,4,52,44,47359,OE-NY,2022-07-17 00:00:00.000000
0,METALS,1,2,1,3,1,93751,OE-PM-TR,2022-07-17 16:40:15.772770
1,FUEL,1,2,1,3,1,87271,OE-PM-TR,2022-07-17 16:40:15.772770
2,CONSTRUCTION_MATERIALS,1,140,4,144,136,0,OE-PM-TR,2022-07-17 16:40:15.772770
3,FUSION_REACTORS,6,20400,196,20596,20204,0,OE-PM-TR,2022-07-17 16:40:15.772770

In [ ]:
# PLAYER INFO
def get_my_status():
  return database['user']
  
def get_money():
  return get_my_status()['credits']

# FLIGHTPLAN
def get_flightplan(flightPlan_id):
  return database['flightPlans'].query(f"id == {flightPlan_id}")
  return make_request(f'{flightplan_url}/{flightPlan_id}', params=params).json()['flightPlan']
  
def make_flightplan(ship_id, destination):
  return make_request(f'{flightplan_url}', params={'shipId':ship_id, 'destination':destination}, type="POST").json()['flightPlan']

# LOANS
def get_loans():
  return database['loans']
  return make_request(url= f'{loans_url}').json()['loans']

def pay_loan(loan_id):
  return make_request(f'{loans_url}/{loan_id}', type="PUT").json()

def take_loan(loan_type):
  return make_request(f'{loans_url}', params={'type':loan_type}, type="POST").json()

# LOCATIONS
def get_location_data(location_id, params={}):
  return database['locations'].query(f"symbol == {location_id}")
  return make_request(f'{location_url}/{location_id}', params=params).json()['location']

def get_market_data(location_id, params={}):
  return database['markets'].query(f"location == {location_id}")
  return make_request(f'{location_url}/{location_id}/marketplace', params=params).json()['marketplace']

def get_ships(location_id, params={}):
  return make_request(f'{location_url}/{location_id}/ships', params=params).json()['ships']

def get_structures(location_id, params={}):
  return make_request(f'{location_url}/{location_id}/structures', params=params).json()['structures']

# COMMERCE
def purchace_goods(ship_id, good, quantity):
  return make_request(f'{purchace_url}', params={'shipId':ship_id,'quantity':quantity,'good':good}, type='POST').json()

def sell_goods(ship_id, good, quantity):
  return make_request(f'{sell_url}', param={'shipId':ship_id,'quantity':quantity,'good':good}, type='POST').json()

def fuel_ship(ship_id,fuel_amount): #
  return purchace_goods(f'{ship_id}', 'FUEL', fuel_amount).json()

# SHIPS
def buy_ship(location, type):
  return make_request(f'{myShips_url}',params = {'location': location, 'type': type}, type = "POST").json()

def get_ships(params={}):
  return make_request(myShips_url, params=params).json()['ships']

def get_ship_data(ship_id, params={}):
  return make_request(f'{myShips_url}/{ship_id}', params=params).json()['ship']

def jettison_ship_cargo(ship_id, good, quantity):
  return make_request(f'{myShips_url}/{ship_id}/jettison', params = {'shipId':ship_id, 'good':good, 'quantity':quantity}, type="POST").json()

def scrap_ship(ship_id):
  return make_request(f'{myShips_url}/{ship_id}', type = "DELETE").json()

def transfer_ship_cargo(from_ship_id, to_ship_id, good, quantity):
  return make_request(f'{myShips_url}/{from_ship_id}', params = {'toShipId':to_ship_id, 'good': good,'quantity':quantity}, type ="POST").json()

#STRUCTURES
def get_structure_data(structure_id):
  return make_request(f'{struct_url}/{structure_id}')['structure']

def get_my_structure_data(structure_id):
  return make_request(f'{my_struct_url}/{structure_id}')['structure']

def get_my_structures():
  return make_request(f'{my_struct_url}')['structures']

def create_structure(location_id, structure_type):
  return make_request(f'{my_struct_url}', params = {'location': location_id, 'type': structure_type}).json()['structure']

def deposit_goods_to_owned_structure(structure_id, ship_id, good, quantity):
  return make_request(f'{my_struct_url}/deposit', params = {'structureId': structure_id, 'shipId': ship_id, 'good': good, 'quantity': quantity}).json()

def deposit_goods_to_public_structure(structure_id, ship_id, good, quantity):
  return make_request(f'{struct_url}/{structure_id}/deposit', params = {'structureId': structure_id, 'shipId': ship_id, 'good': good, 'quantity': quantity}).json()

def transfer_goods_from_owned_structure(structure_id, ship_id, good, quantity):
  return make_request(f'{my_struct_url}/transfer', params = {'structureId': structure_id, 'shipId': ship_id, 'good': good, 'quantity': quantity}).json()

#SYSTEMS
def get_system_ship_listings(system_id, params={}):
  return make_request(f'{system_url}/{system_id}/ship-listings', params=params).json()['shipListings']

def get_system_flightplans(system_id, params ={}):
  return make_request(f'{system_url}/{system_id}/flight-plans', params=params).json()['flightPlans']

def get_system_ships(system_id, params={}):
  return make_request(f'{system_url}/{system_id}/ships', params=params).json()['ships']

def get_system_locations(system_id, params={}):
  return make_request(f'{system_url}/{system_id}/locations', params=params).json()['locations']

def get_system_data(system_id, params={}):
  return make_request(f'{system_url}/{system_id}', params = params).json()['system']

#TYPES
def get_available_goods(params={}):
  return make_request(f'{types_url}/goods', params=params).json()['goods']

def get_available_loans(params={}):
  return make_request(f'{types_url}/loans').json()['loans']

def get_available_structures(params={}):
  return make_request(f'{types_url}/structures').json()['structures']

def get_available_ships(params={}):
  return make_request(f'{types_url}/ships').json()['ships']

#USERS
def claim_username(username):
  response = make_request(f'https://api.spacetraders.io/users/{username}/claim').json()
  [print(key,':',value) for key, value in response.items()]
  return print()

def warp_jump(ship_id):
  return make_request(f'https://api.spacetraders.io/my/warp-jumps', params={'shipId':ship_id}).json()['flightPlan']

In [20]:
def initialize_database(): ## TODO THIS SUCKS
    return {"locations":pandas.DataFrame({}),
    "goods":pandas.DataFrame({}),
    "loans":pandas.DataFrame({}),
    "structures":pandas.DataFrame({}),
    "ships":pandas.DataFrame({}),
    "user":{},"flightPlans":pandas.DataFrame({}),
    "markets":pandas.DataFrame({}),
    "myShips":pandas.DataFrame({}),
    "myStructures":pandas.DataFrame({})}

In [43]:
database['locations'].query("symbol == 'OE-PM'")

,symbol,type,name,x,y,allowsConstruction,traits,messages
0,OE-PM,PLANET,Prime,-19,3,False,"[METAL_ORES, SOME_NATURAL_CHEMICALS]",NaN

In [23]:
FILENAME = "spacedata.pkl"

In [13]:
def load_database():
    return pd.read_pickle(FILENAME)

In [5]:
def save_database(database):
    return pickle.dump(database, open(FILENAME, 'wb'))

In [21]:
database = load_database()

In [51]:
def update_markets(location):
    if not ships_present(location): print(f"ERROR: NO SHIPS PRESENT AT {location}")
    else:
        data = get_market_data(location)
        timestamp = str(datetime.datetime.today())
        for datum in data:
            datum['location'] = location
            datum['date'] = pd.to_datetime(timestamp)

        database['markets'] = pd.concat([database['markets'], pd.DataFrame(data)])

In [39]:
database['markets']

,symbol,volumePerUnit,pricePerUnit,spread,purchasePricePerUnit,sellPricePerUnit,quantityAvailable,location,date
0,METALS,1,2,1,3,1,93751,OE-PM-TR,2022-07-17
1,CONSTRUCTION_MATERIALS,1,140,4,144,136,0,OE-PM-TR,2022-07-17
2,FUEL,1,2,1,3,1,87271,OE-PM-TR,2022-07-17
3,FUSION_REACTORS,6,20400,196,20596,20204,0,OE-PM-TR,2022-07-17
0,METALS,1,2,1,3,1,93591,OE-NY,2022-07-17
1,NARCOTICS,1,115,5,120,110,14,OE-NY,2022-07-17
2,FUEL,1,32,1,33,31,22625,OE-NY,2022-07-17
3,EXPLOSIVES,1,92,2,94,90,10,OE-NY,2022-07-17
4,FOOD,1,35,1,36,34,11,OE-NY,2022-07-17
5,RARE_METALS,1,48,4,52,44,47359,OE-NY,2022-07-17